body{
    margin: 0;
    padding: 0;
}
.home{
    margin-top: 70px;
    width: 100%;
    height: auto;
    background-color: #0461a0;
}
.home-container{
    padding: 100px 0px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.left{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.left img{
    height: 450px;
    width: 470px;
}

.right{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.p1{
    color: white;
    font-family: "Archivo", Sans-serif;
    font-size: 1.4em;
    font-weight: 300;
    text-transform: uppercase;
}
.right h1{
    color: white;
    margin: 0px 0px 0px 0px;
    font-family: "Archivo", Sans-serif;
    font-size: 3.6vw;
    font-weight: 900;
    text-transform: capitalize;
    line-height: 1.1em;
}
.p2{
    color:  #5dbb2a;
    font-family: "Montserrat", Sans-serif;
    font-size: 1.8em;
    font-weight: 600;
    text-transform: uppercase;
    margin: 2% 1% 3% 0%;
}
.p3{
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.4em;
    margin: 0% 0% 0% 1%;
}
.home-btn{
    display: flex;
    gap: 20px;
}
.home-btn button{
    height: 40px;
    width: 170px;
    font-family: "Montserrat", Sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    fill: #5dbb2a;
    color: white;
    background-color: #5dbb2a;
    border-style: none;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.32) inset;
    transition: 0.5s;

}
.home-btn button:hover{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.356);
    transform: scale(1.1);
}

/* dr */
.dr-les{
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
}
.top-dr{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    height: auto;
}
.top-dr img{
    height: 250px;
    width: 250px;
}
.top-dr h2{
    color: #0461a0;
    margin: 0px 0px 0px 0px;
    font-family: "Archivo", Sans-serif;
    font-size: 2em;
    font-weight: 900;
}
.top-dr p{
    color: #5dbb2a;
    font-family: "Montserrat", Sans-serif;
    font-size: 1.2em;
    line-height: 1.6em;
}
.left-dr{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.right-dr{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.left-dr h2, .right-dr h2{
    color: #0461a0;
    margin: 0px 0px 0px 0px;
    font-family: "Archivo", Sans-serif;
    font-size: 2em;
    font-weight: 900;

}
.left-dr p, .right-dr p{
    color: #3d3d3d;
    font-family: "Montserrat", Sans-serif;
    font-size: 1.2em;
    line-height: 1.6em;
}
.brace{
    margin-top: 20px;
    width: 90%;
    margin-left: 5%;
    background-color: #5dbb2a;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
  }
  .l-brace{
    position: relative;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    text-align: left;
    padding: 0px 15px;
  }
  .l-brace img{
    position: absolute;
    height: 300px;
    width: 300px;
    top: -5%;
    left: -5px;
  }
  .r-brace{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: left;
    padding: 0px 15px;
  }
  .r-brace h1{
    font-family: "Archivo", Sans-serif;
    font-size: 2.4em;
    font-weight: 900;
    line-height: 1em;
    color: white;
}
.r-brace .price{
    font-family: "Montserrat", Sans-serif;
    font-size: 1.6em;
    font-weight: 500;
    color: #0461a0;
}
.r-brace p{
    color: white;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6em;
}
.r-brace button{
    height: 40px;
    width: 200px;
    font-family: "Montserrat", Sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    fill: #0461a0;
    color: white;
    background-color: #0461a0;
    border-style: none;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.32) inset;
    transition: 0.2s;
    transition: 0.3s;
}
.r-brace button:hover{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.356);
    transform: scale(1.1);
}
.main-header{
    width: 100%;
    background-color: #0461a0;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.header-content{
    width: 70%;
    margin-top: 70px;
    background-color: #0461a0;
    height: auto;
    padding: 50px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-content p{
    color: #5dbb2a;
    font-family: "Montserrat", Sans-serif;
    font-size: 1.6em;
}
.header-content h1{
    font-size: 3rem;
    color: white;
}
@media (max-width:850px) {
    .right{
        margin-top: 50px;
        align-items: center;
        width: 100%;
        gap: 20px;
    }
    .right h1{
        font-family: "Archivo", Sans-serif;
        font-size: 8.6vw;
        font-weight: 900;
        line-height: 1.1em;
        text-align: center;
        color: rgb(255, 255, 255);
    }
    .p1{
        text-align: center;
    }
    .p2{
        text-align: center;
        line-height: 1.6rem;
        font-size: 17px;
    }
    .p3{
        text-align: center;
    }
    .left img{
        height: 300px;
        width: 300px;
    }
    .left-dr{
        width: 100%;
    }
    .right-dr{
        width: 100%;
    }
    .top-dr h2{
        text-align: center;
    }
    .top-dr p{
        text-align: center;
    }
    .l-brace{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        text-align: left;
        padding: 0px 15px;
      }
      .l-brace img{
        position: relative;
        height: 300px;
        width: 300px;
        top: 0%;
        left: 0px;
      }
      .r-brace{
        margin-top: 20px;
        width: 100%;
        align-items: center;
        text-align: center;
      }
      .header-content{
        text-align: center;
        width: 100%;
        margin-top: 70px;
        background-color: #0461a0;
        height: auto;
        padding: 50px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header-content p{
        color: #5dbb2a;
        font-family: "Montserrat", Sans-serif;
        font-size: 1.3em;
    }
    .header-content h1{
        font-size: 2rem;
        color: white;
    }
        
}
.slider {
    padding: 50px 0px;
    position: relative;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
  }

  .slider h1 {
    font-family: "Archivo", Sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.1em;
    color: rgb(43, 43, 43);
    width: 90%;
    margin-left: 5%;
  }

  .slider p {
    width: 90%;
    margin-top: 10px;
    margin-left: 5%;
    font-family: "Montserrat", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5rem;
    color: rgb(0, 0, 0);
  }

  .slides {
    margin-left: 5%;
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slide {
    position: relative;
    flex: 0 0 calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 390px;
  }

  .slide img {
    width: 100%;
  }

  .description {
    position: absolute;
    bottom: 0;
    background: #0461a0;
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    transform: translateY(100%);
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slide:hover .description {
    transform: translateY(0);
  }

  .dots {
    text-align: center;
    padding: 10px 0;
  }

  .dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    cursor: pointer;
  }

  .active,
  .dot:hover {
    background-color: #0461a0;
  }

  @media (max-width: 600px) {
    .slider {
      padding: 50px 0px;
      position: relative;
      max-width: 390px;
      margin: auto;
      overflow: hidden;
    }

    .slides {
      margin-left: 0;
      display: flex;
      transition: transform 0.5s ease-in-out;
    }

    .slide {
      flex: 0 0 100%;
      max-width: 100%;
      margin: 0;
    }
  }